$mm-black: #111; //https://ianstormtaylor.com/design-tip-never-use-black/
$mm-cyan: #20C1D5;
$breakpoint-two-columns: 1020px;

html {
    scroll-behavior: smooth 
}

a {
    cursor: pointer;
}

body {
    font-family: 'Lato', sans-serif;
    color: $mm-black;
    line-height: 1.4;
    box-sizing: border-box;
    background-color: #fff;

    * {
        box-sizing: border-box;
    }
}

button > *
, img {
  pointer-events: none;
}

.hero {
    height: 100vh;
    min-height: 670px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__prev,
    &__next {
        z-index: 3;
        position: absolute;
        top: 25%;

        @media (min-width: $breakpoint-two-columns) {
            top: 40%;
        }

        * {
            background: none;
            border: 0;
        }

        button {
            padding: 1em;
            height: 80px;
            width: 80px;
        }

        svg {
            width: 100%;
            fill: white;
            height: 45px;
            width: 45px;
        }
    }

    &__prev {
        left: 0;
        transform: rotate(180deg);
        
        @media (min-width: $breakpoint-two-columns) {
            left: 1em;
        }
    }

    &__next {
        right: 0;

        @media (min-width: $breakpoint-two-columns) {
            right: 1em;
        }
    }

    &__slide {
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: opacity 1s ease;
        z-index: 1;
        opacity: 0;

        &--visible {
            opacity: 1;
            z-index: 2;
        }

        @media (min-width: $breakpoint-two-columns) {
            flex-direction: row;
        }
    }

    &__logo-container {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 3;
    }

    &__logo {
        border: solid 2px $mm-black;
        width: 100px;
        height: 80px;
    }

    &__nav-container {
        position: absolute;
        top: 2em;
        right: 2em;
        z-index: 3;
        background-color: none;
        transition: background-color 0s;

        &--modal {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
            background-color: $mm-black;
            transition: background-color 0.5s ease;

            .hero__nav-button {
                display: none;
            }

            .hero__nav-list {
                font-size: 2em;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                text-align: center;
                margin-top: 20%;
                opacity: 1;
                transition: opacity 0.5s ease;
            }
        }
    }

    &__nav-button {
        border: 0;
        width: 60px;
        height: 60px;
        background: none;

        @media (min-width: $breakpoint-two-columns) {
            display: none;
        }
    }

    &__nav-list {
        display: none;
        opacity: 0;

        @media (min-width: $breakpoint-two-columns) {
            display: flex;
            opacity: 1;

            li {
                margin-left: 1em;
            }
        }
    }

    &__img-container
    {
        background-color: #fff;
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: center;
        
        @media (min-width: $breakpoint-two-columns) {
            height: 100%;
            width: 50%;
            order: 2;
            background-position: 60%;
        }
    }

    &__text-container
    {
        background: $mm-cyan;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $breakpoint-two-columns) {
            height: 100%;
            width: 50%;
            order: 1;
        }
    }

    &__text {
        max-width: 400px;
        padding: 0 2em;

        @media (min-width: $breakpoint-two-columns) {
            max-width: 300px;
            padding: 0;
        }
    }

    &__header {
        color: #fff;
        font-size: 1.9em;
        margin-bottom: 0.4em;
        line-height: 1.2;

        @media (min-width: $breakpoint-two-columns) {
            font-size: 3.5em;
        }
    }

    &__arrow-container
    {
        background: #fff;
        height: 10%;
        width: 100%;
        order: 3;
        display: flex;
        align-items: center;
        position: absolute;
        bottom:0;
        z-index: 3;
    }

    &__arrow {
        width: 65px;
        height: 65px;
        display: block;
        margin: 0 auto;
        background: none;
        border: 0;

        svg path {
            stroke: $mm-cyan;
            stroke-width: 8;
            fill: transparent;
        }
    }
}

.paragraph {
    font-size: 1em;
    color: $mm-black;
    
    &--invert {
        color: #fff;
    }
}

.header {
    &__primary {
        color: $mm-cyan;
        font-weight: bold;
        font-size: 1.8em;
    }
    &__secondary {
        color: $mm-black;
        font-weight: normal;
        font-size: 1.4em;
    }
}

.section {
    background-color: blueviolet;

    // todo: remove
    &:nth-child(2) {
        background-color: #eee;
    }

    &:nth-child(3) {
        background-color: teal;
    }
    
}

// .container {
//     width: 100%;
//     padding: 2em;
//     display: flex;
//     justify-content: space-between;

//     @media (min-width: 768px) { 
//         max-width: 1020px;
//         margin: 0 auto;
//     }
// }