$mm-black: #111; //https://ianstormtaylor.com/design-tip-never-use-black/
$mm-cyan: #20C1D5;
$breakpoint-two-columns: 1020px;

html {
    scroll-behavior: smooth;
    
    .noscroll {
        overflow: hidden;
        margin: 0;
        height: 100%;
    }
}

a {
    cursor: pointer;
}

body {
    font-family: 'Lato', sans-serif;
    color: $mm-black;
    line-height: 1.4;
    box-sizing: border-box;
    background-color: #fff;

    * {
        box-sizing: border-box;
    }
}

button > *
, img {
  pointer-events: none;
}

.hero {
    height: 100vh;
    min-height: 670px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__prev,
    &__next {
        z-index: 3;
        position: absolute;
        top: 25%;

        @media (min-width: $breakpoint-two-columns) {
            top: 40%;
        }

        * {
            background: none;
            border: 0;
        }

        button {
            padding: 1em;
            height: 80px;
            width: 80px;
        }

        svg {
            width: 100%;
            fill: white;
            height: 45px;
            width: 45px;
        }
    }

    &__prev {
        left: 0;
        transform: rotate(180deg);
        
        @media (min-width: $breakpoint-two-columns) {
            left: 1em;
        }
    }

    &__next {
        right: 0;

        @media (min-width: $breakpoint-two-columns) {
            right: 1em;
        }
    }

    &__slide {
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: opacity 1s ease;
        z-index: 1;
        opacity: 0;

        &--visible {
            opacity: 1;
            z-index: 2;
        }

        @media (min-width: $breakpoint-two-columns) {
            flex-direction: row;
        }
    }

    &__logo-container {
        position: absolute;
        top: 2em;
        left: 2em;
        z-index: 10;
    }

    &__logo {
        width: 100px;
        height: 80px;
    }

    &__nav-container {
        position: absolute;
        top: 2em;
        right: 2em;
        z-index: 3;
        background-color: none;
        transition: background-color 0s;

        &--modal {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
            background-color: $mm-black;
            transition: background-color 0.5s ease;

            .hero__nav-button {
                display: none;
            }

            .hero__nav-list {
                font-size: 2em;
                color: #fff;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                text-align: center;
                margin-top: 40%;
                opacity: 1;
                transition: opacity 0.5s ease;
            }
        }
    }

    &__nav-button {
        border: 0;
        width: 60px;
        height: 60px;
        background: none;

        @media (min-width: $breakpoint-two-columns) {
            display: none;
        }
    }

    &__nav-list {
        display: none;
        opacity: 0;
        color: #fff;
        font-weight: bold;

        @media (min-width: $breakpoint-two-columns) {
            display: flex;
            opacity: 1;

            li {
                margin-left: 1em;
            }
        }
    }

    &__img-container
    {
        background-color: #fff;
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: 30%;
        
        @media (min-width: $breakpoint-two-columns) {
            height: 100%;
            width: 50%;
            order: 2;
            background-position: 60%;
        }
    }

    &__text-container
    {
        background: $mm-cyan;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: $breakpoint-two-columns) {
            height: 100%;
            width: 50%;
            order: 1;
        }
    }

    &__text {
        max-width: 400px;
        padding: 0 2em;

        @media (min-width: $breakpoint-two-columns) {
            max-width: 300px;
            padding: 0;
        }
    }

    &__header {
        color: #fff;
        font-size: 1.9em;
        margin-bottom: 0.4em;
        line-height: 1.2;

        @media (min-width: $breakpoint-two-columns) {
            font-size: 3.5em;
        }
    }

    &__arrow-container
    {
        background: #fff;
        height: 10%;
        width: 100%;
        order: 3;
        display: flex;
        align-items: center;
        position: absolute;
        bottom:0;
        z-index: 3;
    }

    &__arrow {
        width: 65px;
        height: 65px;
        display: block;
        margin: 0 auto;
        background: none;
        border: 0;
    }
}

.container {
    width: 100%;
    padding: 2em;

    @media (min-width: $breakpoint-two-columns) { 
        max-width: 1020px;
        margin: 0 auto;
    }
}

.paragraph {
    font-size: 1em;
    color: $mm-black;
    margin-bottom: 0.5em;
    
    &--invert {
        color: #fff;
    }
}

.header {
    &__primary {
        color: $mm-cyan;
        font-weight: bold;
        font-size: 1.8em;
        margin-bottom: 0.5em;
    }
    &__secondary {
        color: $mm-black;
        font-weight: normal;
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }
}

.about {
    background-color: #efefef;
    overflow-x: hidden;
    
    @media (min-width: $breakpoint-two-columns) {
        background-color: #fff;
    }

    &__content {
        display: block;
        opacity: 0;

        @media (min-width: $breakpoint-two-columns) {
            display: flex;

            &:first-child {
                margin-bottom: 3em;
            }
        }

        &--inview {
            opacity: 1;
            transition: opacity 1s ease;
        }

        &--invert {
            flex-direction: row-reverse;
        }
    }

    &__text {
        @media (min-width: $breakpoint-two-columns) {
            padding: 2em;
        }
    }

    &__image {
        width: 100vw;
        height: auto;
        margin: 2em 0 2em -2em;
        max-width: 700px;
        display: block;
        
        @media (min-width: 720px) {
            margin: 2em auto 2em auto;
        }
    
        @media (min-width: $breakpoint-two-columns) { 
            margin: 0;
            width: 100%;
            height: 100%;
            

            &--right {
                margin-right: -20%;
            }
    
            &--left {
                margin-left: -20%;
            }
        }
    }
}

.footer {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    font-weight: bold;

    @media (min-width: $breakpoint-two-columns) {
        display: flex;
    }

    &__copyright-container {
        margin-bottom: 0.5em;

        @media (min-width: $breakpoint-two-columns) {
            position: absolute;
            margin-bottom: 0;
        }
    }

    &__links-container {
        li {
            margin-bottom: 0.5em;
        }

        @media (min-width: $breakpoint-two-columns) {
            text-align: center;
            display: flex;
            justify-content: center;

            li {
                margin-right: 1em;
                margin-bottom: 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        color: $mm-cyan;
    }
}